

$primary: #8EF186;
$primary-light: #80fc77;
$dark-blue: #1D303F;
$light-blue: #477BA4;
$white: #fff;
$black: #000;


.white{
    color: $white;
}
.black {
    color: #000;
}
.dark-blue{
    color: $dark-blue;
}
.Light-blue{
    color: $light-blue;
}
.primary{
    color: $primary;
}
