@use 'colors.scss' as *;
@use 'global-classes/globalVariables.scss' as *;
// 
// fonts
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Lexend+Deca:wght@100..900&display=swap');
// unidad base

body{
    font-family: "Fustat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: $dark-blue;
    padding: 0;
    margin: 0;
}
// img {
//     width: 100%;
//     height: auto;
//     display: block;
// }
header{
    margin: 0;
}
// 
.icon_img{
    font-size: 17px;
    font-weight: 600;
    & img{
        width: 50px;
        height: 50px;
    }
}
// hover
.hover-effect {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.hover-effect:hover {
    box-shadow: 0 1px 70px #8df186a9;
    transform: scale(1.06); /* Aumenta ligeramente el tamaño cuando se hace hover */

}
// HOME------------------------------------------>
// navbar
.nav_bar_flotante{
    width: 100%;
    position: absolute;
}
.video-home{
    background-color: $primary;
    height: 300px;
}

footer{
    img{
        max-width: 250px;
    }
}

ul {
    list-style: none; /* Elimina los puntos o números de la lista */
    margin: 0;        /* Elimina el margen */
    padding: 0;       /* Elimina el relleno */
}

li {
    margin: 0;        /* Elimina el margen */
    padding: 0;       /* Elimina el relleno */
}
// whatsapp contact info
.whatapp-fixed{
    position: fixed;
    width: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 10000;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    cursor: pointer;

    img{
        width: 50px;
        height: auto;
        display: block;
    }

    &:hover{
        width: 150px;
        border-radius: 50px;
       
    }
}