@use '../colors.scss' as *; 

.bg-primary {
    background-color: $primary;
  }
  
  .bg-dark-blue {
    background-color: $dark-blue;
  }
  
  .bg-light-blue {
    background-color: $light-blue;
  }
  
  .bg-white {
    background-color: $white;
  }
  
  .bg-black {
    background-color: $black;
  }
// 
.bg-gradient-primary{
  background-image: linear-gradient(to top, $primary 10%, $light-blue 90%);
  // background: $light-blue;
  // background: radial-gradient(circle, $primary 0%, $light-blue 100%);
  background-position: 20% 80%;
  background-size: 100% 100%;
}
.bg-gradient-dark{
  background-image: linear-gradient(to top, $primary 10%, #2c4c64 80%);
  // background: $light-blue;
  // background: radial-gradient(circle, $primary 0%, $light-blue 100%);
  background-position: 20% 80%;
  background-size: 100% 100%;
}
.bg-2{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, $light-blue 0%, $dark-blue 100%);
}
.bg-3{
  background-image: linear-gradient(
  200deg,
  hsl(206deg 37% 18%) 0%,
  hsl(197deg 73% 20%) 16%,
  hsl(193deg 100% 21%) 30%,
  hsl(189deg 100% 25%) 42%,
  hsl(184deg 100% 27%) 53%,
  hsl(178deg 100% 29%) 63%,
  hsl(170deg 100% 33%) 73%,
  hsl(162deg 100% 37%) 82%,
  hsl(148deg 67% 49%) 91%,
  hsl(115deg 70% 65%) 100%
);
}

// 
  /* Contenedor para el efecto de desenfoque */
.bg-blur {
  position: relative;
  /* Esto es necesario para que el efecto de desenfoque funcione correctamente */
  overflow: hidden;
}

/* Elemento con fondo transparente y desenfoque */
.bg-blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-blue, .5); /* Color blanco con 30% de opacidad */
  backdrop-filter: blur(20px); /* Efecto de desenfoque */
  z-index: 0; /* Asegura que el efecto de desenfoque esté detrás del contenido */
}
.bg-blur-content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo con desenfoque */
}
.bg-stars{
  height: 500px; /* Altura del contenedor */
            background-image: url('../../statics/img/estrellas.png'); /* Reemplaza con la ruta de tu imagen */
            background-repeat: repeat-y; /* Repetir solo verticalmente */
            background-size: 100% auto; /* Ancho 100%, altura automática */
            background-position: top center; /* Alinea la imagen en el centro superior */
            background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */

}

.bg-gradient-image{

    background-image: url('../../statics/img/Fondo.png'); /* Reemplaza con la ruta de tu imagen */

    /* Ajuste del fondo */
    background-position: top center; /* Centrado arriba */
    background-repeat: no-repeat; /* Evita que el fondo se repita */

}