// Mixin para generar clases de gap
@mixin generate-gap-classes($gaps) {
    @each $gap, $value in $gaps {
      .g-#{$gap} {
        --column-gap: #{$value};
        gap: var(--column-gap);
      }
    }
  }
  
  // Definir los tamaños de gap
  $gaps: (
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem,
    5: 2.5rem,
    6: 3rem
  );
  
  // Generar las clases de gap
  @include generate-gap-classes($gaps);
  
  // Mixin para columnas flexibles
  @mixin flex-columns($columns) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--column-gap, 1rem); // Utiliza la variable de gap si está definida, de lo contrario usa 1rem
  
    & > * {
      flex: 0 1 calc((100% - (var(--column-gap, 1rem) * (#{$columns} - 1))) / #{$columns});
      box-sizing: border-box;
    }
  }
  
  // Generar clases de columna para 1 a 12 columnas
  @for $i from 1 through 12 {
    .col-#{$i} {
      @include flex-columns($i);
    }
  }
  .grid {
    display: grid;
  }
  
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  
  .grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  
  .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  
  .grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  
  .grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  
  .grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  
  .grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  
  .grid-cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  
  .grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  
  .col-span-1 {
    grid-column: span 1 / span 1;
  }
  // gap
  .gap-0 {
    gap: 0;
  }
  

  
  .gap-1 {
    gap: 0.25rem;
  }
  

  
  .gap-2 {
    gap: 0.5rem;
  }
  

  
  .gap-3 {
    gap: 0.75rem;
  }
  

  .gap-4 {
    gap: 1rem;
  }
  
  .gap-5 {
    gap: 1.25rem;
  }
  
  .gap-6 {
    gap: 1.5rem;
  }
  
  .gap-7 {
    gap: 1.75rem;
  }
  
  .gap-8 {
    gap: 2rem;
  }
  
  .gap-9 {
    gap: 2.25rem;
  }
  
  .gap-10 {
    gap: 2.5rem;
  }
  
  .gap-11 {
    gap: 2.75rem;
  }
  
  .gap-12 {
    gap: 3rem;
  }
  
  .gap-14 {
    gap: 3.5rem;
  }
  
  .gap-16 {
    gap: 4rem;
  }
  
  .gap-20 {
    gap: 5rem;
  }
  
  .gap-24 {
    gap: 6rem;
  }
  
  .gap-28 {
    gap: 7rem;
  }
  
  .gap-32 {
    gap: 8rem;
  }
  
  .gap-36 {
    gap: 9rem;
  }
  
  .gap-40 {
    gap: 10rem;
  }
  
  .gap-44 {
    gap: 11rem;
  }
  
  .gap-48 {
    gap: 12rem;
  }
  
  .gap-52 {
    gap: 13rem;
  }
  
  .gap-56 {
    gap: 14rem;
  }
  
  .gap-60 {
    gap: 15rem;
  }
  
  .gap-64 {
    gap: 16rem;
  }
  
  .gap-72 {
    gap: 18rem;
  }
  
  .gap-80 {
    gap: 20rem;
  }
  
  .gap-96 {
    gap: 24rem;
  }
  
  
  .col-span-2 {
    grid-column: span 2 / span 2;
  }
  
  .col-span-3 {
    grid-column: span 3 / span 3;
  }
  
  .col-span-4 {
    grid-column: span 4 / span 4;
  }
  
  .col-span-5 {
    grid-column: span 5 / span 5;
  }
  
  .col-span-6 {
    grid-column: span 6 / span 6;
  }
  
  .col-span-7 {
    grid-column: span 7 / span 7;
  }
  
  .col-span-8 {
    grid-column: span 8 / span 8;
  }
  
  .col-span-9 {
    grid-column: span 9 / span 9;
  }
  
  .col-span-10 {
    grid-column: span 10 / span 10;
  }
  
  .col-span-11 {
    grid-column: span 11 / span 11;
  }
  
  .col-span-12 {
    grid-column: span 12 / span 12;
  }