.container {
    width: 80%;
    max-width: 1080px; /* Full width by default */
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Container sizes */
  .container-sm {
    max-width: 640px; /* Example size */
  }
  
  .container-md {
    max-width: 768px; /* Example size */
  }
  
  .container-lg {
    max-width: 1024px; /* Example size */
  }
  
  .container-xl {
    max-width: 1280px; /* Example size */
  }

