// padding
@use 'globalVariables.scss' as *;
/* All sides padding */
.p-1 {
    padding: $rem;
  }
  .p-2 {
    padding: $rem * 2;
  }
  .p-3 {
    padding: $rem * 3;
  }
  .p-4 {
    padding: $rem * 4;
  }
  .p-5 {
    padding: $rem * 5;
  }
  
  /* Left padding */
  .pl-1 {
    padding-left: $rem;
  }
  .pl-2 {
    padding-left: $rem * 2;
  }
  .pl-3 {
    padding-left: $rem * 3;
  }
  .pl-4 {
    padding-left: $rem * 4;
  }
  .pl-5 {
    padding-left: $rem * 5;
  }
  
  /* Top padding */
  .pt-1 {
    padding-top: $rem;
  }
  .pt-2 {
    padding-top: $rem * 2;
  }
  .pt-3 {
    padding-top: $rem * 3;
  }
  .pt-4 {
    padding-top: $rem * 4;
  }
  .pt-5 {
    padding-top: $rem * 5;
  }
  
  /* Bottom padding */
  .pb-1 {
    padding-bottom: $rem;
  }
  .pb-2 {
    padding-bottom: $rem * 2;
  }
  .pb-3 {
    padding-bottom: $rem * 3;
  }
  .pb-4 {
    padding-bottom: $rem * 4;
  }
  .pb-5 {
    padding-bottom: $rem * 5;
  }
  
  /* Right padding */
  .pr-1 {
    padding-right: $rem;
  }
  .pr-2 {
    padding-right: $rem * 2;
  }
  .pr-3 {
    padding-right: $rem * 3;
  }
  .pr-4 {
    padding-right: $rem * 4;
  }
  .pr-5 {
    padding-right: $rem * 5;
  }
// 
/* Padding horizontal */
.px-1 {
  padding-left: $rem * 1;
  padding-right: $rem * 1;
}

.px-2 {
  padding-left: $rem * 2;
  padding-right: $rem * 2;
}

.px-3 {
  padding-left: $rem * 3;
  padding-right: $rem * 3;
}

.px-4 {
  padding-left: $rem * 4;
  padding-right: $rem * 4;
}

.px-5 {
  padding-left: $rem * 5;
  padding-right: $rem * 5;
}

/* Padding vertical */
.py-1 {
  padding-top: $rem * 1;
  padding-bottom: $rem * 1;
}

.py-2 {
  padding-top: $rem * 2;
  padding-bottom: $rem * 2;
}

.py-3 {
  padding-top: $rem * 3;
  padding-bottom: $rem * 3;
}

.py-4 {
  padding-top: $rem * 4;
  padding-bottom: $rem * 4;
}

.py-5 {
  padding-top: $rem * 5;
  padding-bottom: $rem * 5;
}
