/* Shadow utilities */
@use '../colors.scss' as *; 
/* Default shadow */
.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  /* Small shadow */
  .shadow-huge{
    box-shadow: 0 1px 150px $primary;
  }
  .shadow-green-sm{
    box-shadow: 0 1px 70px #8df18628;
  }
  .shadow-dark-sm{
    box-shadow: 0 1px 70px #101a22;
  }







  /* Medium shadow */
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  /* Large shadow */
  .shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Extra large shadow */
  .shadow-xl {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
  }
  
  /* 2xl shadow */
  .shadow-2xl {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.05);
  }
  
  /* Inner shadow */
  .shadow-inner {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  
  /* None (no shadow) */
  .shadow-none {
    box-shadow: none;
  }
  